create database [87726]
use [87726]
create table LoaiGiay(
MaLoai char(5) primary key,
TenLoai nvarchar(20),
GhiChu nvarchar(50)
)

create table Giay(
MaGiay char(5) primary key,
TenGiay nvarchar(20),
MaLoai char(5) foreign key (MaLoai) references LoaiGiay(MaLoai),
NuocSX nvarchar(20),
ThongSoKT nvarchar(50),
GiaThanh float
)


create table DaiLy(
MaDL char(5) primary key,
TenDL nvarchar(20),
SDT int,
DiaChi nvarchar(50),
Email nvarchar(30),
TruongDL nvarchar(20)
)

create table PhieuNhap(
MaPhieu char(5) primary key,
MaDL char(5) foreign key (MaDL) references DaiLy(MaDL),
NgayNhap datetime,
DatCoc float,
GhiChu nvarchar(50)
)
create table CTPN(
ID char(5) primary key,
MaPhieu char(5) foreign key (MaPhieu) references PhieuNhap(MaPhieu),
MaGiay char(5) foreign key (MaGiay) references Giay(MaGiay),
SoLuong int,
DonGia float,
ThanhTien float
)

insert into LoaiGiay values('gd123',N'Giày da','real')
insert into LoaiGiay values('gv123',N'Giày vải','real')
insert into LoaiGiay values('gn123',N'Giày nhựa','real')


insert into Giay values('g0010',N'Giày da con heo','gd123',N'Hà Lan','s40','1000000')
insert into Giay values('g0011',N'Giày vải thiều','gv123',N'Đức','s39','200000')
insert into Giay values('g0012',N'Giày da con bò','gd123',N'Pháp','s40','6000000')


insert into DaiLy values('dl001',N'Đại lý A','987668',N'8/23/Trần Nguyên Hãn',N'dailyA@gmail.com',N'Nguyễn Thanh Long')
insert into DaiLy values('dl002',N'Đại lý B','988667',N'5/228/Lê Lợi',N'dailyB@gmail.com',N'Phạm Thị Thanh Hương')
insert into DaiLy values('dl003',N'Đại lý C','123321',N'12/354/Trần Nhân Tông',N'dailyC@gmail.com',N'Nguyễn Tuấn Hải')

insert into PhieuNhap values('pn012','dl001','10/10/2022','800000',N'Ghi chú ...')
insert into PhieuNhap values('pn013','dl002','06/10/2022','800000',N'Ghi chú ...')
insert into PhieuNhap values('pn014','dl003','10/06/2022','800000',N'Ghi chú ...')


insert into CTPN values('11','pn012','g0019','10','1000000','200000')
insert into CTPN values('12','pn013','g0011','10','1000000','200000')
insert into CTPN values('13','pn014','g0012','10','1000000','200000')

-- Câu 2:
go
create view v_mua_hang_nhieu_nhat
as
	select * from DaiLy  where MaDL in (
		select DaiLy.MaDL  from PhieuNhap inner join DaiLy on PhieuNhap.MaDL = DaiLy.MaDL
		group by DaiLy.MaDL having count(PhieuNhap.MaDL) >= all(
			select count(MaDL) from PhieuNhap group by MaDL
		)
	)
select * from v_mua_hang_nhieu_nhat
go
-- Câu 3:
alter table PhieuNhap
add TongTien float
go
alter trigger capnhat
on CTPN
for insert, update,delete
as
begin
	If((select count(*) from inserted) > 0)
	Update a set a.TongTien = (select sum(a.ThanhTien) from inserted a inner join  CTPN b on a.MaPhieu= b.MaPhieu)
	from PhieuNhap a inner join inserted d on a.MaPhieu =d.MaPhieu
	if((select count(*) from deleted) > 0)
	Update a set a.TongTien = (select sum(a.ThanhTien) from deleted a inner join  CTPN b on a.MaPhieu= b.MaPhieu)
	from PhieuNhap a inner join deleted d on a.MaPhieu =d.MaPhieu
end
go

select * from PhieuNhap
update CTPN set SoLuong='20' where ID= '11'















































	--using System;
	--using System.Collections.Generic;
	--using System.ComponentModel;
	--using System.Data;
	--using System.Drawing;
	--using System.Linq;
	--using System.Text;
	--using System.Threading.Tasks;
	--using System.Windows.Forms;

	--namespace PhamBaHuy87726
	--{
	--	public partial class frmGiay87726 : Form
	--	{
	--		public frmGiay87726()
	--		{
	--			InitializeComponent();
	--		}
	--		Database db = new Database();
	--		Giay giay = new Giay();
	--		public void Hien()
	--		{
	--			dataGridView1.DataSource = giay.hienthi();
	--		}
	--		private void frmGiay87726_Load(object sender, EventArgs e)
	--		{
	--			btnreturn.Visible = false;
	--			Hien();
	--		}

	--		private void btnThem_Click(object sender, EventArgs e)
	--		{
	--			giay.them(txtMaGiay.Text, txtTen.Text, txtMaLoai.Text, txtNuoc.Text, txtTskt.Text, txtGia.Text);
	--			Hien();
	--		}

	--		private void btnSua_Click(object sender, EventArgs e)
	--		{
	--			giay.sua(txtMaGiay.Text, txtTen.Text, txtMaLoai.Text, txtNuoc.Text, txtTskt.Text, txtGia.Text);
	--			Hien();
	--		}

	--		private void btnXoa_Click(object sender, EventArgs e)
	--		{
	--			giay.xoa(txtMaGiay.Text);
	--			Hien();
	--		}

	--		private void dataGridView1_CellClick(object sender, DataGridViewCellEventArgs e)
	--		{
	--			int i = dataGridView1.CurrentCell.RowIndex;
	--			txtMaGiay.Text = dataGridView1.Rows[i].Cells[0].Value.ToString();
	--			txtTen.Text = dataGridView1.Rows[i].Cells[1].Value.ToString();
	--			txtMaLoai.Text = dataGridView1.Rows[i].Cells[2].Value.ToString();
	--			txtNuoc.Text = dataGridView1.Rows[i].Cells[3].Value.ToString();
	--			txtTskt.Text = dataGridView1.Rows[i].Cells[4].Value.ToString();
	--			txtGia.Text = dataGridView1.Rows[i].Cells[5].Value.ToString();
	--		}

	--		private void btnTK_Click(object sender, EventArgs e)
	--		{
	--			btnreturn.Visible = true;
	--			dataGridView1.DataSource = giay.timkiem(txtTen.Text,txtMaLoai.Text);
	--		}

	--		private void btnreturn_Click(object sender, EventArgs e)
	--		{
	--			txtMaGiay.ResetText();
	--			txtTen.ResetText();
	--			txtMaLoai.ResetText();
	--			txtNuoc.ResetText();
	--			txtTskt.ResetText();
	--			txtGia.ResetText();
	--			btnreturn.Visible = false;
	--			Hien();
	--		}
	--	}
	--}




--using System;
--using System.Collections.Generic;
--using System.Linq;
--using System.Text;
--using System.Threading.Tasks;
--using System.Data;
--using System.Data.SqlClient;
--namespace PhamBaHuy87726
--{
--    class Giay
--    {
--        Database db = new Database();

--        public DataTable hienthi()
--        {
--            string sql = "select * from Giay";
--            DataTable dt = db.excute(sql);
--            return dt;
--        }
--        public DataTable timkiem(string ten, string loai)
--        {
--            string sql = "select * from Giay where TenGiay=N'"+ten+"' and MaLoai='"+loai+"'";
--            DataTable dt = db.excute(sql);
--            return dt;
--        }
--        public void them(string MaGiay, string TenGiay, string MaLoai, string NuocSX, string ThongSoKT, string GiaThanh)
--        {
--            string themm = string.Format("insert into Giay values ('{0}',N'{1}','{2}',N'{3}',N'{4}','{5}')", MaGiay, TenGiay, MaLoai, NuocSX, ThongSoKT, GiaThanh);
--            db.nonexcute(themm);
--        }

--        public void sua(string MaGiay, string TenGiay, string MaLoai, string NuocSx, string ThongSoKT, string GiaThanh)
--        {
--            string suaa = string.Format("update Giay set TenGiay=N'{1}',MaLoai='{2}',NuocSX=N'{3}',ThongSoKT=N'{4}',GiaThanh='{5}' where  MaGiay= '{0}'", MaGiay, TenGiay, MaLoai, NuocSx, ThongSoKT, GiaThanh);
--            db.nonexcute(suaa);
--        }
--        public void xoa(string MaGiay)
--        {
--            string xoaa = string.Format("Delete from Giay where MaGiay='{0}'", MaGiay);
--            db.nonexcute(xoaa);
--        }
--    }
--}




--using System;
--using System.Collections.Generic;
--using System.Linq;
--using System.Text;
--using System.Threading.Tasks;
--using System.Data;
--using System.Data.SqlClient;
--namespace PhamBaHuy87726
--{
--    class Database
--    {
--        public static string chuoiketnoi = @"Data Source=LAPTOP-7RUTJAEC\SQLEXPRESS;Initial Catalog=87726;User ID=sa;Password=123456";
--        private SqlConnection conn;
--        SqlDataAdapter da = null;
--        DataSet ds = null;
--        public Database()
--        {
--            conn = new SqlConnection(chuoiketnoi);
--        }

--        public DataTable excute(string str)
--        {
--            da = new SqlDataAdapter(str, conn);
--            ds = new DataSet();
--            da.Fill(ds);
--            return ds.Tables[0];
--        }

--        public void nonexcute(string str)
--        {
--            SqlCommand command = new SqlCommand(str, conn);
--            conn.Open();
--            command.ExecuteNonQuery();
--            conn.Close();
--        }
--    }
--}
