body {
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
h1 {
	background-color: #3f51b5;
	padding: 20px;
	margin: 0;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
}
.product img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.product .info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
}
.product h2 {
	font-size: 20px;
	margin: 0;
	text-align: center;
}
.product p {
	margin: 0;
	margin-bottom: 10px;
	font-size: 14px;
}
.product .warranty {
	font-weight: bold;

}
.product .status {
	font-weight: bold;
}
.product .product-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}
.product .product-info img {
	width: 40%;
}
.product .product-info div h2 {
	font-size: 20px;
	margin: 0;
	text-align: left;
	margin-bottom: 40px;
}
.product .product-info div p {
	margin: 0;
	text-align: left;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
}
.product .price {
  background-color: #4CAF50; /* màu xanh lá cây */
  color: #000000; /* màu đen */
  font-size: 24px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 60px;
}
.product button {
  background-color: #4caf50;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 150px;
}

.product .details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.search{
	margin-left: 30px;
	background-color: white;
	width: 300px;
	padding: 8px 8px;
}
